.cart-container {
  padding: 80px;
  background: #fff7ee;
  min-height: 100vh;
}

.cart-title {
  font-size: 40px;
  font-weight: 800;
  color: #ff7a00;
  margin-bottom: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.cart-table th {
  background: #ff7a00;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.cart-table td {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.cart-img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
}

.remove-btn {
  font-size: 18px;
  color: red;
  text-decoration: none;
  font-weight: 700;
}

.cart-summary {
  margin-top: 40px;
  width: 380px;
  padding: 25px;
  background: #fff4de;
  border-left: 8px solid #ff7a00;
  border-radius: 15px;
}

.cart-summary h2 {
  font-size: 30px;
  color: #ff7a00;
}

.amount {
  float: right;
  font-weight: 700;
}

.grand-total {
  margin-top: 15px;
  font-size: 26px;
  font-weight: 900;
  color: #ff7a00;
}

.checkout-btn {
  display: block;
  margin-top: 25px;
  padding: 15px;
  background: #ff7a00;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
}
