.contact-container {
  padding: 100px 80px;
  background: #fffaf3;
  min-height: 100vh;
}

h1 {
  font-size: 38px;
  font-weight: 800;
  color: #ff7a00;
}

.contact-card {
  margin-top: 30px;
  width: 450px;
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
}

.contact-card h2 {
  color: #ff7a00;
  font-size: 30px;
  margin-bottom: 15px;
}

.contact-card p {
  font-size: 18px;
  padding: 6px 0;
  font-weight: 500;
}

.home-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background: #ff7a00;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
